.cover__subtitle {
  color: #fff;
  font: normal 400 18px/22px 'Inter', sans-serif;
  margin: 0 auto;
  max-width: 360px;
  text-align: center;
}


@media (max-width: 767px) {
  .cover__subtitle {
    font: normal 400 14px/16px 'Inter', sans-serif;
    max-width: 288px;
  }
}
