.header__link {
  font: normal 400 24px/28px 'Inter', Arial, sans-serif;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 320px) {
  .header__link {
    font: normal 400 18px/20px 'Inter', Arial, sans-serif;
  }
}
