.footer__copyright {
  color: #fff;
  font: normal 400 14px/16px 'Inter', Arial,  sans-serif;
}

@media (max-width: 320px) {
  .footer__copyright {
    font: normal 400 14px/14px 'Inter', Arial,  sans-serif;
  }
}
