.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1184px;
  max-height: 740px;
  width: 100%;
  height: 100%;
  margin: 0 auto 92px;
  background-image: url(cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
}

.cover:before {
  content: '';
  display: block;
  width: 100%;
  background: #2A2C2F;
  opacity: 0.3;
  padding: calc(740 / 1184 * 100%) 0 0;
  transition: all .3s;
}

.cover:hover:before {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 320px) {
  .cover {
    margin: 0 auto 64px;
  }
}
