.place {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  max-width: 984px;
  width: 100%;
}

.place+.place {
  margin-top: 80px;
}

@media (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }

  .place+.place {
    margin-top: 73px;
  }
}

@media (max-width: 767px) {
  .place {
    grid-template: minmax(min-content, max-content) / minmax(min-content, max-content);
    gap: 32px;
  }

  .place+.place {
    margin-top: 50px;
  }
}
